@tab-color:black;
@tab-border-color:gray;
@tabs-border-radius:100px;
@border-style:solid;
@border-thickness:2px;
@tab-padding:30px;
@tabs-height:50px;
@tabs-width:100px;
body{

}
.container-fluid{
  background-color: white;
}

.bold-right-border{
  border-right: 2px black groove;
}

.subtitle{
  font-family: SansSerif;
  margin-left: 20px;
}
.black-text{
  color: black;
}
.white-text{
  color:white;
}
.gold-text{
  color:#FFEEBC;
}
.second-subtitle{
  text-align: center;
  font-size: 300%;
  font-family: SansSerif;
  margin-left: 15%;
  width: 40%;
  background-color: white
}
.header{

}


@-webkit-keyframes grow {
  100%{
    font-size: 125%;

  }
}
@keyframes grow {
  100%{
    font-size: 125%;

  }
}
.empty-box{
  width:1500px;
  height: 500px;
}

.logo-font {
  font-family: 'Times New Roman', monospace;
  color: white;
}

.blank-space{
  padding-top:2%;
  background-color: white;
}

.main-div{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
}
.content-div{
  width:100%;
}
.bg-black{
  background-color: black;
}
.bg-white{
  background-color: white;
}
.width-match-parent{
  width: 100%;
}
.flex-enable{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
.flex-enable-column{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-center{
  -ms-grid-column-align: center;
  justify-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.active {
  border-bottom: 2px white solid;
}